body{
    background-color: #212121;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    /*cursor: progress;*/
    /*border: 1px solid red;*/
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.web-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
}

iframe{
    height: 100%;
    width: auto;
    border: none;
}

.content{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 700px;
    overflow-y: auto;
}

.heading-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: auto
}

.main-heading{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
}

.content-row{
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    margin-bottom: 40px;
    justify-content: space-evenly;
}

a{ 
    color: #ffffff;
    text-decoration: none;
}

.card {
    position: relative;
    width: 110px;
    height: 150px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .card::before {
    display: flex;
    flex: 1 1 auto;
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 125px;
    height: 165px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card::after {
    display: flex;
    flex: 1 1 auto;
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #0800ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .card.heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
  }
  
  .card p:not(.heading) {
    font-size: 14px;
  }
  
  .card p{
    background-color: #000;
    color: #ffffff;
    font-weight: 600;
  }
  
  .card:hover::after {
    filter: blur(30px);
  }
  
  .card:hover::before {
    transform: rotate(90deg) scaleX(1.45) scaleY(0.85);
    /*transform: rotate(0deg) scaleX(1.15) scaleY(1.1);*/
  }

  .card .heading:hover {
    /*transform: rotate(90deg) scaleX(1.45) scaleY(0.85);*/
    transition-duration: 0.5s;
    transform: rotate(0deg) scaleX(1.1) scaleY(1.1);
  }
  
  /*END OF STABLE CODE*/

  .card-fire {
    --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
    width: 110px;
    height: 150px;
    padding: 5px;
    border-radius: 1rem;
    overflow: visible;
    background: #f7ba2b;
    background: var(--background);
    position: relative;
    z-index: 1;
   }
   
   .card-fire::after {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(1);
    filter: blur(25px);
    background: #f7ba2b;
    background: var(--background);
    transition: opacity 1s;
   }
   
   .card-info {
    --color: #181818;
    background: var(--color);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: .7rem;
   }
   
   .card-fire .title {
    font-weight: bold;
    letter-spacing: .1em;
   }
   
   /*Hover*/
   .card-fire:hover::after {
    opacity: 0;
   }
   
   .card-fire:hover .card-info {
    color: #f7ba2b;
    transition: color 0.5s;
   }
   